@using Garage_2._0.ConstantStrings
@model IEnumerable<VehicleViewModel>

@{
    ViewData["Title"] = "Garage";
}

@section CustomStyles {
    <style>
        th:not(#table-buttons):not(#table-durations)::after {
            content: "↕";
            float: right;
            margin-right: 2em;
            margin-top: 0.5em;
        }

        th:not(#table-buttons):not(#table-durations):hover {
            cursor: pointer;
            filter: brightness(1.3);
            text-decoration: underline;
        }

        th > a {
            text-decoration: inherit;
            color: inherit;
            padding: inherit;
            display: inline-block;
            width: 70%;
            height: 100%;
        }
    </style>
}

@section Scripts {
    <script>
        for (let th of document.querySelectorAll("th")) {
            th.addEventListener("click", () => console.log("hi"));
            console.log("hi");
        }
    </script>
}

<form asp-action="Index" method="get" class="row g-2 mb-4">
    <div class="input-group col-md-12 shadow-sm">
        <span class="input-group-text">
            🔍
        </span>
        <input type="text"
               name="search"
               value="@ViewData["CurrentFilter"]"
               class="form-control"
               placeholder="Search by registration number..." />
        <button type="submit" class="btn btn-primary">Search</button>
        <a asp-action="Index" class="btn btn-outline-secondary">Clear</a>
    </div> 
</form>

<p>
    <a asp-action="Create" class="btn btn-success">Check in vehicle</a>
</p>

<table class="table table-striped table-hover align-middle">
    <thead class="table-dark">
        <tr>
            <th>
                <a asp-action="Index" 
                    asp-route-search="@ViewData["CurrentFilter"]" 
                    asp-route-sortOrder="@VehicleViewModelSortingCategories.VehicleType">
                        Type
                </a>
            </th>
            <th>
                <a asp-action="index" 
                    asp-route-search="@ViewData["CurrentFilter"]" 
                    asp-route-sortOrder="@VehicleViewModelSortingCategories.RegNumber">
                        RegNumber
                    </a>
                </th>
            <th>
                <a asp-action="Index" 
                    asp-route-search="@ViewData["CurrentFilter"]" 
                    asp-route-sortOrder="@VehicleViewModelSortingCategories.ArrivalTime">
                        ArrivalTime
                </a>
            </th>
            <th>
                <a asp-action="Index" 
                    asp-route-search="@ViewData["CurrentFilter"]" 
                    asp-route-sortOrder="@VehicleViewModelSortingCategories.Duration">
                        Duration
                </a>
            </th>
            <th id="table-buttons" class="text-end"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var v in Model)
        {
            <tr>
                <td>@v.VehicleType</td>
                <td>@v.RegNumber</td>
                <td>@v.ArrivalTime</td>
                <td>
                    @{v.UpdateParkDuration();}
                    @v.ParkDuration
                </td>
                <td class="text-end">
                    <a asp-action="Details" asp-route-id="@v.Id" class="btn btn-sm btn-outline-info">Details</a>
                    <a asp-action="Edit" asp-route-id="@v.Id" class="btn btn-sm btn-outline-warning">Edit</a>
                    <a asp-action="Checkout" asp-route-id="@v.Id" class="btn btn-sm btn-outline-danger">Check out</a>
                </td>
            </tr>
        }
    </tbody>
</table>